/* Add this line at the top of your CSS file to import Titillium Web from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');


body, #root {
  /* overflow: hidden; */
  font-family: 'Titillium Web', sans-serif;
  background-color: #F3EAF1;
  margin: 0;
  height: 100%;
  
}


[class^="chakra-text"] {
  margin: 0 !important;
  padding: 0 !important;
}

.taskItem:hover {
  background-color: rgb(229, 229, 229) !important;
}

.taskItem {
  padding: 0 !important;
}

.taskItem > * {
  padding: 5px !important;  /* Adjust this value */
}
/* Add this to your CSS */
.taskItem {
  /* ... your existing styles ... */
  transition: background-color 0.3s ease;
}

.taskItem.is-dragging {
  background-color: lightgreen;
}


